@{
    ViewData["Title"] = "Listele";
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
}

<div class="container mt-5">
    <div class="mb-3">
        <h3>
            @ViewBag.Personeller.PersonelAdSoyad İşleri
        </h3>
    </div>
    @foreach (var i in ViewBag.Isler)
    {
        <div class="card">
            <div class="card-header bg-black text-center text-white">
                @i.IsBaslik
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@i.IsAciklama</li>
                    <li class="list-group-item">İletilen Tarih: @i.IletilenTarih.ToString("dd MMMM yyyy hh:mm")</li>
                    <li class="list-group-item">Yapılan Tarih: @(i.YapilanTarih != null ? i.YapilanTarih.ToString("dd MMMM yyyy hh:mm"):"henüz girilmedi") </li>
                  
                </ul>
            </div>
        </div>
    }
</div>
