@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Görev Takip Çalışan</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .navbar {
            background-color: #145214;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            height: 50px;
        }

            .navbar img {
                height: 30px;
                border-radius: 8px;
            }

            .navbar div {
                display: flex;
                align-items: center;
                justify-content: flex-end; /* Butonları sağa hizalar */
            }

            .navbar a {
                color: white;
                text-align: center;
                padding: 10px 15px;
                text-decoration: none;
                font-size: 15px;
            }

                .navbar a:hover {
                    background-color: #495057;
                }

                .navbar a.active {
                    background-color: #ffffff;
                    color: #2e8b57;
                }

        .container {
            margin: 40px auto;
            max-width: 1000px;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <img src="~/images/uludagenerji (1).png" alt="Logo">
        <div>
            @Html.ActionLink("Görev Takip", "Index", "Calisan", null, new { @class = "active" })
            @Html.ActionLink("Anasayfa", "Index", "Calisan", null, new { @class = "" })
            @Html.ActionLink("Görev Tamamla", "Yap", "Calisan", null, new { @class = "" })
            @Html.ActionLink("Görev Takip", "Takip", "Calisan", null, new { @class = "" })
            @Html.ActionLink("Çıkış", "Index", "Login", null, new { @class = "" })
        </div>
    </nav>

    <main role="main" class="container">
        @RenderBody()
    </main>
</body>
</html>
